@tailwind base;
@tailwind components;
@tailwind utilities;

.banner button {
  position: absolute;
  top: 50%;
  background-color: rgba(0, 119, 204, 0); /* Fully transparent blue */
  color: #fff; /* Customize the button text color */
  border: none;
  height: 200px; /* Match the height of the image */
  width: 50px; /* Adjust the width of the buttons */
  padding: 15px; /* Adjust the padding to make the button wider */
  font-size: 16px;
  cursor: pointer;
  outline: none;
  transform: translateY(-50%); /* Center the button vertically */
  transition: background-color 0.3s ease; /* Add a smooth transition effect */
}

.banner button.prev {
  left: 0; /* Adjust the left position for alignment */
  border-top-left-radius: 8px; /* Add rounded corners to the top-left of the "previous" button */
  border-bottom-left-radius: 8px; /* Add rounded corners to the bottom-left of the "previous" button */
}

.banner button.next {
  right: 0; /* Adjust the right position for alignment */
  border-top-right-radius: 8px; /* Add rounded corners to the top-right of the "next" button */
  border-bottom-right-radius: 8px; /* Add rounded corners to the bottom-right of the "next" button */
}

.banner button:hover {
  background-color: rgba(103, 103, 103, 0.1); /* Opaque blue on hover */
}

.login {
  padding: 30px;
  margin-top: 100px;
  margin-bottom: 100px;
}

/* Media query for responsiveness */
@media (max-width: 768px) {
  .footer-left,
  .footer-center,
  .footer-right {
    width: 100%; /* On smaller screens, make each column full width */
    padding: 0;
  }
}
